name: "CI"
on:
  pull_request:
  push:

jobs:
  flake-general-checks:
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest]
    runs-on: ${{matrix.os}}
    timeout-minutes: 30
    steps:
      - name: Checkout the repo
        uses: actions/checkout@v4
      - name: Check Nix flake inputs
        uses: DeterminateSystems/flake-checker-action@v5
      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@v9
      - name: Use Github Actions Cache through Magic Nix Cache
        uses: DeterminateSystems/magic-nix-cache-action@main
      - name: Show the flakes metadata and input sources
        run: nix flake metadata
      - name: Show the flakes outputs
        run: nix flake show --all-systems
      - name: Check whether the flake evaluates and run its tests
        run: nix flake check --all-systems
      - name: Check the code matching standard style using alejandra
        run: nix fmt
      - name: Run custom tests inside CI/CD shell
        run: nix develop '.#ci' --command true
